@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

:root{
  --main-color: lightskyblue;
  --active-color: rgb(84, 182, 244);
  --font-family: "Fira Sans", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: 500;
}
body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: var(--font-family);
  margin-top: 100px;
}
.button{
  background-color: var(--main-color);
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  border-radius: 0.25 rem;
  color: white;
}
.button:hover{
  background-color: var(--active-color);
}
.home_button{
  background-color: var(--active-color) !important;
}
.home_button:hover{
  font-size: 130%;
}
a:hover{
  color: var(--active-color) ;
}

.greeting-container{
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

}
.greeting{
  padding: 2rem;
  background-color: var(--main-color);
  color: var(--active-color);
  border-radius: 20px;
  color: white;
}
.card{
  border: none !important;
  margin: 2rem;
  background-color: var(--main-color) !important;
  color: white;
  border-radius: 20px !important;
}



body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%; 
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  margin: auto;
  background-color: white;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;

}

.auth-wrapper .form-control:focus {
  border-color: var(--main-color);
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.no-account,
.has-account,
.has-account a,
.no-account a {
  text-align: right;
  font-size: 0.8rem;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

video {
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.welkom-container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.welkom-container > h1 {
  margin-top: 50px;
  color: #ffffff;
  font-size: 5vw;
  margin-top: -100px;
}
.welkom-container > p {
  width: 100%;
  text-align: center;
  color: var(--main-color);
  font-size: 2.7vw;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
.welkom-btns .btn {
  margin: 6px;;
}
.quiz-master{
  color: var(--main-color)
}

.login-quiz-master{
  margin-left: 128px;
  margin-top: 64px;
}
.header-quiz-master:hover{
  color: var(--active-color);
}
.quiz-container, .select-container{
  background: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px;
  width: 600px;
  margin:auto;
  margin-top: 2rem;
  color: white;
}
.header-select{
  padding: 1rem;
  text-align: center;
  margin: 0;
}
.quiz-header  h2, h3{
  padding:1rem;
  text-align: center;
  margin: 0;
}
.quiz-form  select{
  background-color: var(--main-color);
  width: 45%;
  border: 1px white solid;
}
.quiz-form label{
  padding: 1rem 3rem;
}
.author{
  font-weight: 800;
  font-size: large !important;
}
.author-header{
  font-size: small;
  color: var(--active-color);
}
.list-container{
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: auto;
  text-align: center;
}
.quiz-header ul li{
  font-size: 150%;
}
.quiz-header ul li label{
  cursor: pointer;
}
.answer, 
.total-points{
  margin: 0px;
  width: 100%;
  padding: 0.5rem 0rem;
}
.total-points{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.answer-active{
  background-color: var(--active-color);
}
.answer-wrong, .points-lost{
  background-color: red;
}
.answer-correct, .points-won{
  background-color: green;
}
.submit-answer {
  margin-top: 1rem;
  width:100%;
  background-color: var(--active-color);
  padding: 0.5rem;
  margin: 0;
  font-size: 150%;  
}

.title{
  text-decoration: none !important;
  color: #ffffff;
  font-weight: 700;
  font-size: 45px;
  font-family: 'PT Sans Narrow', sans-serif;
  width: 200px;
}




@media screen and (max-width: 767px) {

   
  .welkom-btns {
    position: fixed;
    bottom: 50px;
    width: 200px;
  }
  .btn-login{
    margin-top: 100px;
  }
  .button{
    display:block;
    text-decoration: none;
  }
  .btn{
    width: 100%;
  }
  .welkom-container > p {
    margin-top: 5px;
    size: 3.3vw;
  }
  .card-group{
    flex-direction: column !important;
    width: 100%;
    margin-top: 2rem;
  }
  .card{
    margin: 1rem !important;
  }
  .select-container, .quiz-container{
    width: 90%;
  }


}

@media only screen and (min-width: 768px)  {

  .welkom-container > p {
    margin-top: 450px;
    box-shadow: 10px 10px 70px darkcyan;
  }
  .welkom-btns .btn {
    margin: 6px;
    width: 15em;
  }
  .auth-inner{
    width: 450px;
  }


}